/* src/styles/HomePage.css */
.home-page {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.performance-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /* 간격을 조금 넓힘 */
  justify-content: flex-start;
  margin-bottom: 2rem;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}
